# backend servers 
flask==3.1.0
flask-jwt-extended==4.7.1
gunicorn==23.0.0
flask-cors

# database
joblib==1.4.2
pymongo==4.9.2


# HTTPS weather fetch
pyarrow==17.0.0
requests==2.32.3
flask-cors==4.0.0

#data
pandas==2.2.3
numpy==1.26.4